*.mzXML
*.MS2
*.raw
IROAsamples/
IROAlibrary/
1562624612
1562624645
1562624696
1562624729
1562624784
1562649008
1562649609
1562649700
1562654136
alignment.params
featureToMs2.params
test.pl
Jumpm_diagram_20190826.png
Jumpm_diagram_20190826.pptx
alignment_residual.txt
alignment_result.txt
calculated_rt_pvalue.txt
compRt.txt
compRt_new.txt
featureMS2
libMS2
libSearchResult_IROA_IS_NEG_1.txt
libSearchResult_IROA_IS_NEG_1_20190925.txt
measured_rt_error.txt
refRt.txt
jumpm_flowchart.drawio
jumpm_flowchart.jpg
R/tmplog
R/test_fully_aligned.feature
R/.IROA_IS_NEG_fully_aligned.feature
R/IROA_IS_NEG_IROA_IS_NEG_1_unaligned.feature
R/IROA_IS_NEG_IROA_IS_NEG_2_unaligned.feature
R/IROA_IS_NEG_IROA_IS_NEG_3_unaligned.feature
R/IROA_IS_NEG_fully_aligned.feature
R/IROA_IS_NEG_partially_aligned.feature
jumpm_library_positive.params
featureDetectionTest.pl
rtForAlignment.txt
R/.test_fully_aligned.feature
R/featureToMs2Test.R
R/simpleAlignmentTest.R
R/test_IROA_c18_target1_unaligned.feature
R/test_IROA_c18_target2_unaligned.feature
R/test_partially_aligned.feature
